<mat-tree #tree [dataSource]="treeItem().children"  [childrenAccessor]="childrenAccessor">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="selectNode(node)">
    <!-- use a disabled button to provide padding for tree leaf -->
    <button matIconButton disabled></button>
    {{ node.name }}
    <!--    @if (node.mqttMessage?.message) {-->
    <!--      {{node.mqttMessage?.message}}-->
    <!--    }-->
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                 [cdkTreeNodeTypeaheadLabel]="node.name" (click)="selectNode(node)">
    <button matIconButton [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    {{ node.name }}
    <!--    @if (node.mqttMessage?.message) {-->
    <!--      {{node.mqttMessage?.message}}-->
    <!--    }-->
  </mat-tree-node>
</mat-tree>
